In [39]:
from retrieveData import *
import pandas as pd

data = pd.read_csv('stock_dfs/A.csv')
pd = data
(pd.size != 0)

True

In [29]:
assertTrue(data.index)

RangeIndex(start=0, stop=64, step=1)

In [42]:
data.shape

(64, 6)

In [61]:
tStock = retriveStockData('A')

Success connecting to database

In [53]:
type(tStock) == Stock

True

In [54]:
type('stock price information include open high low and volum')

str

In [56]:
tStock.__repr__()

'stock price information include open high low and volume for stock: A'

In [65]:
tStock.info[]

    close     daytime     high      low   open  stockid     volume
0   65.68  2017-09-14  65.8700  65.1600  65.31       14  1481022.0
1   65.96  2017-09-15  66.1300  65.6200  65.68       14  2295974.0
2   66.08  2017-09-18  66.3000  65.7000  66.09       14  1562007.0
3   66.17  2017-09-19  66.4500  66.0000  66.25       14  1238004.0
4   66.09  2017-09-20  66.3600  65.7700  66.31       14  1186007.0
5   65.92  2017-09-21  66.1400  65.6300  65.88       14   874785.0
6   65.78  2017-09-22  66.2700  65.7100  65.85       14  1296244.0
7   64.73  2017-09-25  65.9000  64.4400  65.80       14  1841833.0
8   64.11  2017-09-26  64.9000  63.9100  64.65       14  1615338.0
9   64.39  2017-09-27  64.6600  64.0500  64.27       14  1258810.0
10  63.98  2017-09-28  64.6200  63.9700  64.25       14  1126243.0
11  64.20  2017-09-29  64.2750  63.7200  64.00       14  1672816.0
12  64.87  2017-10-02  65.0700  64.2100  64.29       14  1693854.0
13  65.15  2017-10-03  65.7800  65.0600  65.06       14  1216981.0
14  65.83  2017-10-04  65.8700  65.1500  65.15       14   745628.0
15  65.70  2017-10-05  65.9900  65.5200  65.85       14  1974081.0
16  66.36  2017-10-06  66.3800  65.6600  65.68       14  1405100.0
17  66.56  2017-10-09  66.7700  66.0200  66.49       14  1542307.0
18  66.60  2017-10-10  66.8600  66.2200  66.68       14  1143075.0
19  66.71  2017-10-11  66.8400  66.6700  66.68       14    61331.0
20  67.54  2017-10-12  67.6000  66.5400  66.65       14  1454994.0
21  66.99  2017-10-13  67.8200  66.8900  67.63       14   943164.0
22  66.91  2017-10-16  67.3700  66.7700  67.20       14  1473459.0
23  66.12  2017-10-17  66.6800  65.9900  66.68       14  1711833.0
24  66.44  2017-10-18  66.5850  66.0700  66.38       14  1150468.0
25  66.88  2017-10-19  66.9750  66.0600  66.44       14  1359119.0
26  67.25  2017-10-20  67.5300  67.0700  67.19       14  1506112.0
27  67.02  2017-10-23  67.6800  66.9300  67.45       14  1267570.0
28  67.32  2017-10-24  67.5500  66.8800  67.31       14  1975704.0
29  67.39  2017-10-25  68.5200  67.0300  67.90       14  1795014.0
..    ...         ...      ...      ...    ...      ...        ...
34  68.02  2017-11-01  68.4400  67.8400  68.20       14  1357998.0
35  68.13  2017-11-02  68.3800  67.8100  68.08       14  1856865.0
36  68.37  2017-11-03  68.6700  68.0100  68.09       14  1072288.0
37  68.22  2017-11-06  68.4500  67.8700  68.27       14   995731.0
38  68.25  2017-11-07  68.6400  68.0400  68.32       14   956466.0
39  68.11  2017-11-08  68.3300  67.7710  68.10       14   977616.0
40  67.47  2017-11-09  67.9800  66.9100  67.92       14  1665083.0
41  66.81  2017-11-10  67.5800  66.7000  67.35       14  1704549.0
42  67.13  2017-11-13  67.3900  66.2500  66.45       14  1536388.0
43  67.46  2017-11-14  67.8000  66.8900  66.98       14  2426247.0
44  67.31  2017-11-15  67.5600  66.9100  67.29       14  2042296.0
45  68.74  2017-11-16  68.9500  67.4500  67.50       14  2300408.0
46  68.79  2017-11-17  69.0900  68.2900  68.53       14  1823122.0
47  69.96  2017-11-20  70.2300  68.9500  69.28       14  4143453.0
48  69.91  2017-11-21  70.8100  67.7000  70.05       14  5330554.0
49  68.69  2017-11-22  69.3700  68.3000  69.14       14  3041728.0
50  69.36  2017-11-24  69.3900  68.7800  68.84       14  1015411.0
51  69.31  2017-11-27  69.4900  69.1700  69.22       14  1439275.0
52  70.59  2017-11-28  70.9300  69.4200  69.56       14  2473433.0
53  68.69  2017-11-29  70.8400  68.4500  70.50       14  1904175.0
54  69.24  2017-11-30  69.5900  68.2100  68.97       14  1922514.0
55  68.69  2017-12-01  70.0000  67.2300  69.19       14  2516564.0
56  66.24  2017-12-04  69.1700  66.1800  68.94       14  2899424.0
57  65.83  2017-12-05  67.0000  65.7300  66.20       14  2383974.0
58  65.89  2017-12-06  66.2500  65.6010  65.88       14  1690108.0
59  66.71  2017-12-07  66.8811  65.7700  65.91       14  2294513.0
60  67.38  2017-12-08  67.5468  66.6523  67.38       14  2195577.0
61  67.00  2017-12-11  67.7500  66.4800  67.43       14  2438556.0
62  67.06  2017-12-12  67.1600  66.5000  67.06       14  2180984.0
63  66.68  2017-12-13  67.6600  66.6400  67.23       14  1684618.0

[64 rows x 7 columns]

In [66]:
conn, cur = get_connection_and_cursor()

Success connecting to database

In [71]:
cur.execute(""" select * from stocklist where name = '{}'""".format('A'))
stockid = cur.fetchall()[0]['id']
cur.execute(""" select * from stockinfo where stockid = {}""".format(1))
stockinfo = cur.fetchall()

In [72]:
stockid

14

In [74]:
len(stockinfo)

64

In [82]:
len(stockinfo[1])

7

In [84]:
cur.execute(""" select * from stockinfo where stockid = {}""".format(1))
stockinfo = cur.fetchall()